<PORT> = <your port number>
<MOGODB_URI> = <your mongodb uri>
<MAILTRAP_TEMPLATE_ID> = <your mailtrap template id>
<MAILTRAP_ENDPOINT> = <your mailtrap endpoint
<MAILTRAP_TOKEN> = <your mailtrap token>
<SENDER_EMAIL> = <your email>
<SENDER_NAME> = <your name>
<JWT_SECRET> = <your jwt secret>
<NODE_ENV> = <your node environment>
<TWILIO_SID> = <your twilio sid>
<TWILIO_AUTH_TOKEN> = <your twilio auth token>
